$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid rgba(255,255,255,0.1);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar-brand {
  img {
    max-width:175px;
    padding-top:0;
    position: relative;
    top:-15px;
  }
}

svg.icon {
  max-width:768px;
  max-height:768px;
}

.navbar {
  background-color: rgba(0,0,0,1)!important;
}

.container {
  width:80%!important;
  min-width:80%!important;
}

.center-block {
  display: table!important;
  margin: 0 auto!important;
}

svg.icon {
  max-width:768px;
  max-height:768px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}


.icon-box-v2 {
  h3,i {
    transition:color 0.5s ease;
  }
  &:hover {

    h3,i {
      color: #1E9E9E;
    }

  }
}


.fit-box {
  min-height:30rem;

  div.content-holder {
    position: relative;
    min-height:30rem;

    p {
      margin-bottom:10px;
    }

    img {
      width:100%;
      vertical-align: bottom;
      position: absolute;
      max-width:380px;
      height:80px;
      bottom:0;
      right:50px;
      left:50px;
      z-index:1;
    }

    div.cover {
      width:100%;
      position:absolute;
      max-width:380px;
      height:80px;
      bottom:0;
      left:50px; right:50px;
      z-index:1000;
      background-color: rgba(0,0,0,0.6);
      border:1px solid rgba(255,255,255,.1);

      transition: background 2s ease-out;


      &:hover {
        background-color: rgba(0,0,0,0.1);
      }

    }


  }



}

.fit-box2 {
  min-height:38rem;

  div.content-holder {
    position: relative;
    min-height:38rem;


    p {
      margin-bottom:10px;
    }

    img {
      width:100%;
      vertical-align: bottom;
      position: absolute;
      max-width:320px;
      height:160px;
      bottom:0;
      z-index:1;
    }

    div.cover {
      width:100%;
      position:absolute;
      max-width:420px;
      height:160px;
      bottom:0;
      z-index:1000;
      background-color: rgba(0,0,0,0.6);
      border:1px solid rgba(255,255,255,.1);

      transition: background 2s ease-out;

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }

    }
  }



}


.panel {
  background-color : rgba(0,0,0,.5);
  border-color:  rgba(255,255,255,.8);

  .panel-heading {
    background-color : rgba(0,0,0,.1);
    color:#ffff;
  }
  .panel-body {
    background-color : rgba(255,255,255,.4);
  }

  i {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    i {
      transform: scale(1.1);
      color:#000!important;
    }
  }
}

#roadmap > div {
  border-top:1px inset rgba(255,255,255,0.5) ;
}

.footer img {
  margin-top:5rem;
}

.timeline {
  position: relative;
  padding:4px 0 0 0;
  margin-top:22px;
  list-style: none;
}

.timeline>li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 100px;
  right:-100px;
}

.timeline>li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 100px;
  left:-100px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
  min-height: 100px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 40%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 100%;
  background-color: rgba(0,0,0,1);
  /* box-shadow: 0 0 5px #4582ec;*/
  width: 150px;
  height: 150px;
  margin-top:15px;
  margin-left: -75px;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
  margin-bottom: 4px;
  padding:0;
  color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:.5rem 0;
  text-transform: none;
  font-size:18px;
  color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
  color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 60%;
  width: 2px;
  height:280px;
  background-color: rgba(255,255,255,.5);
  -ms-transform: rotate(-49deg); /* IE 9 */
  -webkit-transform: rotate(-49deg); /* Safari */
  transform: rotate(-49deg);

}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left:40%;
  width: 2px;
  height:280px;
  background-color: rgba(255,255,255,.5);
  -ms-transform: rotate(49deg); /* IE 9 */
  -webkit-transform: rotate(49deg); /* Safari */
  transform: rotate(49deg);

}

#roadmap {

  .panel {
    border-color:  rgba(255,255,255,.1)!important;
    padding-top:1.5rem!important;

  }

  h4 {
    margin:0!important;
  }

  ul.timeline li:hover {

    h4:not(.subheading) {
      color: #1E9E9E!important;
    }


    .timeline-image {
      background-color:#1E9E9E;

      i {
        transform: translateY(-200%);
        opacity:0;
      }

      img {
        transform: translateY(-68%);
        opacity:1;
      }


    }

  }

  h4:not(.subheading) {
    transition: color 0.5s ease;
  }


  .timeline-image {
    overflow:hidden;

    i {
      color:#fff;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s ease;
    }

    img {
      position: absolute;
      bottom:-100px;
      width:120px;
      left:50%;
      margin-left:-60px;
      transition: all 0.5s ease;
      opacity:0;
    }

  }

  @media (min-width: 0px) and (max-width:1279px) {

    .container {
      padding:0!important;
    }
    .timeline-panel {
      width:100%!important;
    }
    .timeline .line:before, .timeline>li .timeline-image {
      display: none;
    }

    .timeline>li:nth-child(even) {
      right:-25px;
    }

    .timeline>li:nth-child(odd) {
      left:-25px;
    }
  }

  @media (min-width: 1280px) {
    .panel {
      min-height:175px;
    }
  }
}

.ledgerblue {
  border-bottom:2px solid rgba(255,255,255,.5);
}

.icon-heart {
  fill: #1E9E9E;
}

.parallax_banner2 {
  position: relative;
  height: 100vh;

  @media (min-width: 0px) and (max-width: 800px) {
    background-image: url(../../images/background/main/via-bg-1024.jpg);
  }

  @media (min-width: 801px) and (max-width: 1200px) {
    background-image: url(../../images/background/main/via-bg-1280.jpg);
  }

  @media (min-width: 1201px) and (max-width: 1700px) {
    background-image: url(../../images/background/main/via-bg-1600.jpg);
  }

  @media (min-width: 1701px) and (max-width: 2300px) {
    background-image: url(../../images/background/main/via-bg-1920.jpg);
  }

  @media (min-width: 2301px) and (max-width: 3000px) {
    background-image: url(../../images/background/main/via-bg-2600.jpg);
  }

  @media (min-width: 3001px) {
    background-image: url(../../images/background/main/via-bg-4k.jpg);
  }

}

.parallax_color_no, .parallax_color_blue {
  position: relative;
  color: #FFF;


  @media (min-width: 0px) and (max-width: 1200px) {
    background-image: url(../../images/background/seoul/seoul-1280.jpg);
  }

  @media (min-width: 1201px) and (max-width: 1700px) {
    background-image: url(../../images/background/seoul/seoul-1600.jpg);
  }

  @media (min-width: 1701px) and (max-width: 2300px) {
    background-image: url(../../images/background/seoul/seoul-1920.jpg);
  }

  @media (min-width: 2000px) and (max-width: 3000px) {
    background-image: url(../../images/background/seoul/seoul-2600.jpg);
  }

  @media (min-width: 3001px) {
    background-image: url(../../images/background/seoul/seoul-4k.jpg);
  }

}

.parallax_color_pink {
  position: relative!important;
  color: #FFF;


  @media (min-width: 0px) and (max-width: 999px) {
    background-image: url(../../images/background/shanghai/shanghai-1024.jpg);
  }

  @media (min-width: 1000px) and (max-width: 1200px) {
    background-image: url(../../images/background/shanghai/shanghai-1280.jpg);
  }

  @media (min-width: 1201px) and (max-width: 1700px) {
    background-image: url(../../images/background/shanghai/shanghai-1600.jpg);
  }

  @media (min-width: 1701px) and (max-width: 2300px) {
    background-image: url(../../images/background/shanghai/shanghai-1920.jpg);
  }

  @media (min-width: 2000px) and (max-width: 3000px) {
    background-image: url(../../images/background/shanghai/shanghai-2600.jpg);
  }

  @media (min-width: 3001px) {
    background-image: url(../../images/background/shanghai/shanghai-4k.jpg);
  }
}

.dark-bg-2 {
  background:#333 url('/images/background/leddot.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  min-height:10rem;
  padding:0!important;

  @media (min-width: 0px) and (max-width: 800px) {
    background-image: url(../../images/background/leddot/leddot-1024.jpg);
  }

  @media (min-width: 801px) and (max-width: 1200px) {
    background-image: url(../../images/background/leddot/leddot-1280.jpg);
  }

  @media (min-width: 1201px) {
    background-image: url(../../images/background/leddot/leddot-1680.jpg);
  }

}


