{
  "presets": ["env"],
  "plugins": [
    ["transform-react-jsx", { "pragma":"preact.h" }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime",
    }]
  ]
}
